{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-sm">
    </br>
  </div>
</div>
<div class="row">
    <div class="col-sm-10 offset-sm-1">
          
    <h2 align="center">О сайте</h2>
    </br><div>
    <img src='{% static "IMG_8669.JPG" %}' alt="Home Lasagna" class="img-circle" align="Right" style="margin:5px"><p align="justify">&emsp;Добро пожаловать на сайт “O Mama Ira!”, а именно в виртуальный мир моих кулинарных записей и рецептов!  Меня зовут Ира, я люблю еду и особенно процесс ее приготовления. Я молодая мама, готовлю исключительно дома для своей семьи и близких, и уверенно считаю что еда не просто основной источник энергии, а гораздо большее  -  удовольствие, прекрасный коммуникатор и безмерный источник вдохновения! А процесс ее приготовления – это же захватывающее приключение, которое в конечном результате дарит множество приятностей: вкусовое наслаждение, выражение чувств заботы  близким и созерцание прекрасных видов продуктов и  блюд... </p></div>
    <p align="justify">&emsp;Идея создания сайта возникла при написании кулинарной книги для своей любимой дочери (я считаю это важной частью наследия каждой женщины!), но в условиях современности, книга превратилась в сайт. В разделе “Блог” я закрепляю свои кулинарные навыки, а в разделе “Рецепты” делюсь с вами секретами приготовления любимых блюд. С помощью удобной навигации сайта вы сможете найти рецепты по названию, ингридиентам и принадлежностью блюда к типу приема пищи (завтрак, обед, ужин…).</p>
    <p align="justify">&emsp;Я очень рада вашему визиту! Если хотите быть в курсе новых рецептов и заметок регистрируйтесь на моей сайте и получайте уведомления об их появлении. Готовьте всегда с удовольствием и любовью, и ваша  жизнь наполнится маленькими, но ежедневными радостями! </p>
    </div>
</div>
{% endblock %}