{% load staticfiles %}

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
      <a href="{% url 'home_page' %}"><img src='{% static "logo.png" %}' class="logo"> </a>
    </div>
    <div class="col-sm-2 text-center">
      <div class="links">
        <form class="search">
          <div class="search__wrapper">
            <input type="text" name="q" placeholder="Search for..." class="search__field" value="{{ request.GET.q }}">
            <button type="submit" class="fas fa-search search__icon"></button>
          </div>
        </form>
        &nbsp;<a href="#"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
      </div>
<!--       <form class="form-inline my-2 my-lg-0" method="GET" action="">
        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</div>

<nav class="navbar navbar-light navbar-expand-sm bg-light navbar-custom justify-content-center">
    <!-- <a href="{% url 'home_page' %}" class="navbar-brand mr-0">O mama Ira!</a>  -->
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'about_page' %}">&nbsp;О САЙТЕ&nbsp;</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'posts:list' %}">&nbsp;БЛОГ&nbsp;</a>
            </li>
<!--             <li class="nav-item">
              <a class="nav-link" href="">&nbsp;RECIPIES&nbsp;</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &nbsp;РЕЦЕПТЫ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'recipes_list_by_category' 'breakfast' %}">ЗАВТРАКИ</a>
                <a class="dropdown-item" href="#">СУПЫ</a>
                <a class="dropdown-item" href="#">ЗАКУСКИ & САЛАТЫ</a>
                <a class="dropdown-item" href="{% url 'recipes_list_by_category' 'main-entree' %}">ОСНОВНЫЕ БЛЮДА</a>
                <a class="dropdown-item" href="#">ДЕСЕРТЫ</a>
<!--                 <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a> -->
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacts_page' %}">&nbsp;КОНТАКТЫ&nbsp;</a> 
            </li>
        </ul>
        <!-- <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap"> -->
            <!-- <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-pinterest-p"></i></i></i></a> </li> -->
            <!-- <li class="nav-item"><a class="nav-link" href=""><i class="fab fa-instagram"></i></a> </li> -->
        <!-- </ul> -->
    </div>
</nav>