{% extends "base.html" %}

{% block content %}

<div class='col-sm-8 col-sm-offset-3'>
<h1>{{ title }}</h1>
<form method="GET" action="">
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" />
    <input type="submit" value="Search"/>
</form>
{% for object in object_list %}
<div class="row">
<!-- <div class="col-sm-12"> -->
<div class="card" style="width: 58rem;">
    {% if object.image %}
	<img class="card-img-top" src='{{ object.image.url }}' alt="{{ object.title }}" />
    {% endif %}
    {% if user.get_full_name %}
    <p>Author: {{ user.get_full_name }}</p>
    {% endif %}
    
<!--     {% if object.tags.all %}
    <p class="tags" >Tags: {{ object.tags.all|join:", " }}</p>
    {% endif %} -->

    <p class="tags">
    Tags: 
    {% for tag in object.tags.all %}
    <a href="{% url 'posts:list_by_tag' tag.slug %}">
    {{ tag.name }}</a>
    {% if not forloop.last %},{% endif %}
    {% endfor %}
    </p>
    

<!--   <img class="card-img-top" src=".../100px180/" alt="Card image cap">-->  
	<div class="card-body">
    <h3 class="card-title"><a href='{{ object.get_absolute_url }}'>{{ object.title }}</a><small> <span class="badge badge-secondary">{{ object.publish }}</span></small></h3>
    {% if object.draft %}<b>Черновик</b>{% endif %}{% if object.publish > today %}<b> в будущем</b>{% endif %}
    <p class="card-text">{{ object.content|linebreaks|truncatechars:120 }}</p>
    <a href="{{ object.get_absolute_url }}" class="btn btn-primary">View</a>
  	</div>
</div>
</div>
<hr/>
<!-- </div> -->
</br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>


{% endblock content %}